[mysqld]

default_storage_engine  = InnoDB

# InnoDB
innodb_autoextend_increment = 1000
innodb_strict_mode=1
innodb_rollback_on_timeout=1
innodb_log_buffer_size  = 8M
innodb_file_per_table   = 1
innodb_open_files       = 400
innodb_io_capacity      = 2000
innodb_flush_method     = O_DIRECT

# RocksDB
rocksdb_flush_log_at_trx-commit=2
rocksdb_allow_concurrent_memtable_write=1
rocksdb_allow_to_start_after_corruption=1
rocksdb_db_write_buffer_size=256M
rocksdb_block_cache_size=2G
rocksdb_deadlock_detect=1
rocksdb_delayed_write_rate=167772160
rocksdb_table_cache_numshardbits=6
rocksdb_print_snapshot_conflict_queries=ON
rocksdb_two_write_queues=ON
rocksdb_wal_recovery_mode=2
rocksdb_max_total_wal_size = 2G
rocksdb_compaction_readahead_size=2G
rocksdb_max_background_jobs=4
rocksdb_compaction_readahead_size=32M  # Optimisation pour éviter des lectures trop petites
rocksdb_use_direct_reads=ON
rocksdb_use_direct_io_for_flush_and_compaction=ON
rocksdb_skip_fill_cache=ON

# MyIsam
myisam_recover_options = BACKUP
key_buffer_size         = 128M
key_cache_segments      = 64
myisam_sort_buffer_size = 32M

# Aria and table tmp
tmp_table_size          = 256M
max_heap_table_size     = 256M



sql_mode=NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION
performance_schema=ON
connect_timeout=10
wait_timeout=1800
character_set_server  = utf8mb4 
collation_server      = utf8mb4_general_ci 
skip_name_resolve     = 1
max_connections         = 100
connect_timeout         = 10
wait_timeout            = 600
max_allowed_packet      = 256M
thread_cache_size       = 128
sort_buffer_size        = 4M
bulk_insert_buffer_size = 16M
concurrent_insert       = 2
read_buffer_size        = 2M
read_rnd_buffer_size    = 1M

query_cache_limit               = 128K
query_cache_size                = 0
query_cache_type                = OFF

table_definition_cache = 10000
table_open_cache = 10000
table_open_cache_instances=8
metadata_locks_cache_size=10000
open_files_limit       = 10000


#plugins
plugin_load_add=disks
plugin_load_add=query_response_time
plugin_load_add=metadata_lock_info



